@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.fromTop {
  opacity: 0;
  animation: moveInTop 0.5s ease-in 1 forwards; }

*,
*::after
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 110em) {
    html {
      font-size: 57%; } }
  @media only screen and (max-width: 61.75em) {
    html {
      font-size: 53%; } }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 47%; } }

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #0000;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; }

::selection {
  background-color: #FCEB1A !important;
  color: #fff !important; }

.bodyFixed {
  overflow: hidden !important; }

/*  #preloader {
    background-color: rgba($color: #eeee, $alpha: 1);
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 200;
}
#status {
    background-image: url(/preloader.svg);
    background-repeat: no-repeat;
    width: 25rem;
    height: 25rem;
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -8.5rem;
    margin-top: -12.5rem; 
   
 } 

.hiddenLoader {
    animation: fadeOut 1s;
} */
.customBtn, .customBtn:link, .customBtn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  letter-spacing: .2rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  background: #5C564E;
  border-radius: 2rem;
  width: 75%; }

.customBtn:hover {
  background-color: #808080;
  color: #fff; }

.customBtn__contact {
  font-size: 1.3rem;
  width: 10rem;
  padding: .5rem 1rem; }

.customBtn__enq {
  font-size: 1.6rem;
  width: 15rem;
  padding: 1rem 2rem;
  margin: 2rem auto; }

.navbar {
  padding: 0;
  background: #fff;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .5s; }
  @media only screen and (max-width: 61.75em) {
    .navbar {
      opacity: 0; } }
  .navbar__links {
    padding-right: 23rem; }
    @media only screen and (max-width: 80em) {
      .navbar__links {
        padding-right: 18rem; } }
    @media only screen and (max-width: 66.3em) {
      .navbar__links {
        padding-right: 13rem; } }
    @media only screen and (max-width: 61.75em) {
      .navbar__links {
        margin-top: 20rem;
        text-align: center;
        padding: 0 0 2rem 0; } }
  .navbar--logo {
    margin-left: 15rem;
    width: 8rem;
    height: auto; }
    @media only screen and (max-width: 80em) {
      .navbar--logo {
        margin-left: 10rem; } }
    @media only screen and (max-width: 66.3em) {
      .navbar--logo {
        margin-left: 5rem; } }
    @media only screen and (max-width: 61.75em) {
      .navbar--logo {
        display: none; } }

.navbar-icon {
  font-size: 3rem;
  color: #000; }

.navbar-toggler {
  outline: none !important;
  padding-bottom: .5rem !important;
  cursor: pointer; }

.nav-link {
  color: #808080;
  margin-right: 2.5rem;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  display: inline-block;
  transition: all .3s linear;
  font-size: 1.7rem; }
  @media only screen and (max-width: 80em) {
    .nav-link {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 61.75em) {
    .nav-link {
      font-size: 2.1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 5rem;
      margin-right: 0;
      color: #fff; } }

.nav-link:hover {
  color: #FCEB1A; }

/* CUSTOM NAV TOGGLER */
.bars {
  width: 3.5rem;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: .4s ease;
  cursor: pointer; }
  .bars__second {
    background-color: #fff; }

.change1 {
  transform: rotate(-45deg) translate(-9px, 6px); }
  @media only screen and (max-width: 30em) {
    .change1 {
      transform: rotate(-45deg) translate(-6px, 5px); } }

.change3 {
  transform: rotate(45deg) translate(-8px, -8px); }
  @media only screen and (max-width: 30em) {
    .change3 {
      transform: rotate(45deg) translate(-10px, -10px); } }

.change2 {
  opacity: 0; }

.animate {
  transform: translateY(-100%); }

.sticky {
  transform: translateY(0); }

.transparentNav {
  background: rgba(0, 0, 0, 0.8); }

.barsWhite {
  background-color: #fff !important; }

@media only screen and (max-width: 61.75em) {
  .maliNavNone {
    opacity: 1; } }

.noDisplayNav {
  display: none; }

.home {
  height: calc(100vh - 12rem);
  margin-top: 15rem;
  display: grid;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-height: 800px) {
    .home {
      margin-top: 10rem; } }
  @media only screen and (min-height: 800px) {
    .home {
      height: 75vh; } }
  @media only screen and (max-width: 80em) and (min-height: 1000px) {
    .home {
      height: 50vh; } }
  @media only screen and (max-width: 61.75em) {
    .home {
      display: none; } }
  .home__title {
    color: rgba(128, 128, 128, 0.5);
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: .2rem; }
    @media only screen and (max-width: 80em) {
      .home__title {
        font-size: 3.4rem; } }
  .home__images {
    margin-top: 4rem;
    height: 55rem;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 80em) {
      .home__images {
        height: 50rem; } }
    @media only screen and (max-height: 800px) {
      .home__images {
        height: 30rem;
        margin-top: 0; } }
    .home__images--1 {
      width: 33.333%; }
    .home__images--2 {
      width: 33.333%; }
    .home__images--3 {
      width: 33.333%; }
  .home__title2 {
    margin-top: 5rem;
    color: rgba(128, 128, 128, 0.5);
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: .2rem; }
    @media only screen and (max-width: 42em) {
      .home__title2 {
        display: none; } }
    @media only screen and (max-height: 800px) {
      .home__title2 {
        margin-top: 0; } }

.homeslide {
  height: 100vh;
  width: 99%;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .homeslide__image {
    width: 16rem;
    height: auto; }
  .homeslide__title {
    color: #fff;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 600;
    letter-spacing: .2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 2rem; }
    @media only screen and (max-height: 450px) {
      .homeslide__title {
        font-size: 2.7rem; } }
  .homeslide__span {
    color: #fff;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 600;
    letter-spacing: .2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    @media only screen and (max-height: 450px) {
      .homeslide__span {
        font-size: 2.7rem; } }
  .homeslide__logo {
    width: 12rem;
    height: auto;
    margin: 2rem auto; }
    @media only screen and (max-height: 450px) {
      .homeslide__logo {
        width: 9rem; } }
  .homeslide__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    width: 35rem;
    margin: 3rem auto;
    padding-bottom: 2rem; }
    .homeslide__text--p {
      color: #fff;
      font-size: 2.2rem;
      font-weight: 400;
      letter-spacing: .2rem; }
      @media only screen and (max-height: 450px) {
        .homeslide__text--p {
          font-size: 1.8rem; } }
  .homeslide__info {
    text-align: justify;
    color: #fff;
    margin: 2rem 8rem;
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 2rem; }
  .homeslide__world {
    width: 12rem;
    height: auto;
    margin: 2rem auto; }
    @media only screen and (max-height: 450px) {
      .homeslide__world {
        width: 9rem; } }
  .homeslide--1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/home/home1.png") right center/cover no-repeat; }
  .homeslide--2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/home/home3.png") center/cover no-repeat; }
    @media only screen and (max-width: 42em) {
      .homeslide--2 {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/home/home3XS.png") center/cover no-repeat; } }
    @media only screen and (max-width: 42em) {
      .homeslide--2 {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/home/home3XXS.png") center/cover no-repeat; } }
  .homeslide--3 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/home/home2.png") center/cover no-repeat; }

.sliderHompage {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: none; }
  @media only screen and (max-width: 61.75em) {
    .sliderHompage {
      display: block;
      overflow: hidden; } }

.displayNone {
  display: none; }

.services {
  margin-top: 15rem;
  display: grid;
  grid-template-rows: 10rem max-content;
  grid-template-columns: repeat(12, 1fr);
  position: relative; }
  @media only screen and (max-width: 86.5em) {
    .services {
      grid-template-rows: max-content 10rem  max-content;
      margin-top: 0; } }
  @media only screen and (max-width: 42em) {
    .services {
      margin-top: 0; } }
  .services__title {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 100%;
    height: 10rem;
    background: #c1d4de;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 86.5em) {
      .services__title {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        margin-top: 5rem; } }
    @media only screen and (max-width: 42em) {
      .services__title {
        background: transparent;
        color: rgba(92, 86, 78, 0.5); } }
    .services__title--h1 {
      font-size: 3.5rem;
      font-weight: 600;
      color: #fff;
      text-transform: capitalize; }
      @media only screen and (max-width: 42em) {
        .services__title--h1 {
          color: rgba(92, 86, 78, 0.5); } }
  .services__clients {
    grid-row: 2 / -1;
    grid-column: 3 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem; }
    @media only screen and (max-width: 86.5em) {
      .services__clients {
        grid-row: 1 / 2;
        grid-column: 1 / -1; } }
    @media only screen and (max-width: 61.75em) {
      .services__clients {
        margin-top: 0; } }
    .services__clients--world {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #a1c7db;
      width: 30rem;
      text-align: justify;
      margin-top: 9.5rem; }
      @media only screen and (max-width: 86.5em) {
        .services__clients--world {
          margin-top: 0; } }
      @media only screen and (max-width: 61.75em) {
        .services__clients--world {
          display: none; } }
      .services__clients--world--icon {
        width: 10rem;
        height: auto;
        padding-bottom: 2rem; }
      .services__clients--world--title {
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 2rem; }
      .services__clients--world--text {
        font-size: 1.7rem;
        width: 30rem; }
        @media only screen and (max-width: 86.5em) {
          .services__clients--world--text {
            width: 60rem; } }
        @media only screen and (max-width: 42em) {
          .services__clients--world--text {
            width: 45rem; } }
        @media only screen and (max-width: 25.5em) {
          .services__clients--world--text {
            width: 40rem; } }
    .services__clients--modals {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #BEB1B2;
      width: 30rem;
      text-align: justify; }
      .services__clients--modals--icon {
        width: 10rem;
        height: auto;
        padding-bottom: 2rem; }
        @media only screen and (max-width: 50em) {
          .services__clients--modals--icon {
            width: 12rem; } }
      .services__clients--modals--title {
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: 2rem; }
        @media only screen and (max-width: 50em) {
          .services__clients--modals--title {
            font-size: 2.5rem; } }
      .services__clients--modals--all {
        width: 30rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-bottom: 1rem;
        cursor: pointer; }
        @media only screen and (max-width: 86.5em) {
          .services__clients--modals--all {
            width: 60rem; } }
        @media only screen and (max-width: 50em) {
          .services__clients--modals--all {
            width: 40rem; } }
      .services__clients--modals--p {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 0;
        margin: 0;
        letter-spacing: .3rem; }
      .services__clients--modals--1 {
        background: #dbc6d2;
        border-radius: 1rem; }
      .services__clients--modals--2 {
        background: #C0D6C9;
        border-radius: 1rem; }
      .services__clients--modals--3 {
        background: #A1C7DC;
        border-radius: 1rem; }
      .services__clients--modals--4 {
        background: #DACD98;
        border-radius: 1rem; }
      .services__clients--modals--5 {
        background: #DDB9A8;
        border-radius: 1rem; }
      .services__clients--modals--6 {
        background: #B5E0DC;
        border-radius: 1rem; }
  .services__popup {
    padding: 4rem;
    text-align: justify;
    border-radius: 2rem;
    animation-name: fadein;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    position: absolute;
    top: 25%;
    left: 35%;
    width: 62rem; }
    @media only screen and (max-width: 86.5em) {
      .services__popup {
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        width: 50rem; } }
    @media only screen and (max-width: 42em) {
      .services__popup {
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 45rem; } }
    @media only screen and (max-width: 25.5em) {
      .services__popup {
        width: 35rem; } }
    .services__popup--close {
      position: absolute;
      font-size: 3rem;
      top: 18px;
      right: 18px;
      color: #fff;
      z-index: 9999;
      cursor: pointer; }
      @media only screen and (max-width: 42em) {
        .services__popup--close {
          font-size: 2.5rem; } }
    .services__popup--title {
      color: #fff;
      text-transform: capitalize;
      font-size: 2.4rem;
      letter-spacing: .2rem;
      font-weight: 600;
      text-align: center;
      padding-bottom: 2rem; }
    .services__popup--text {
      font-size: 1.5rem;
      color: #fff;
      z-index: 9999; }
      .services__popup--text--span {
        font-size: 1.5rem;
        color: #fff;
        display: block;
        text-align: left; }
    .services__popup--1 {
      background: #dbc6d2;
      overflow-y: auto; }
      @media only screen and (max-height: 800px) {
        .services__popup--1 {
          top: 10%;
          padding: 2rem;
          overflow-y: auto; } }
      @media only screen and (max-width: 42em) and (max-height: 700px) {
        .services__popup--1 {
          height: 80vh; } }
    .services__popup--2 {
      background: #C0D6C9; }
    .services__popup--3 {
      background: #A1C7DC; }
    .services__popup--4 {
      background: #DACD98; }
    .services__popup--5 {
      background: #DDB9A8; }
    .services__popup--6 {
      background: #B5E0DC; }
  .services__right {
    grid-row: 2 / -1;
    grid-column: 5 / 11;
    margin: 5rem 0 5rem 11rem;
    display: grid;
    grid-template-rows: 10rem 30rem 30rem 35rem;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20%; }
    @media only screen and (max-width: 86.5em) {
      .services__right {
        grid-column: 1 / -1;
        grid-row: 3 / -1;
        grid-column-gap: 0;
        margin: 8rem 0 0 0; } }
    @media only screen and (max-width: 50em) {
      .services__right {
        grid-template-rows: repeat(7, max-content);
        margin-bottom: 10rem; } }
    .services__right--3steps {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      width: 37%;
      height: auto;
      margin-left: 14rem; }
      @media only screen and (max-width: 86.5em) {
        .services__right--3steps {
          width: 69%;
          grid-column: 3 / 12;
          margin-left: 13rem;
          margin-top: 3rem; } }
      @media only screen and (max-width: 66.3em) {
        .services__right--3steps {
          width: 80%;
          margin-left: 4rem; } }
      @media only screen and (max-width: 50em) {
        .services__right--3steps {
          display: none; } }
  .services__card {
    width: 30rem;
    height: auto;
    color: rgba(92, 86, 78, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    animation-name: fadein;
    animation-duration: .4s;
    animation-timing-function: ease-in;
    z-index: 1; }
    @media only screen and (max-width: 50em) {
      .services__card {
        width: 45rem; } }
    .services__card--1 {
      grid-row: 2 / 3;
      grid-column: 1 / 3; }
      @media only screen and (max-width: 86.5em) {
        .services__card--1 {
          grid-column: 3 / 5; } }
      @media only screen and (max-width: 66.3em) {
        .services__card--1 {
          grid-column: 2 / 5;
          justify-self: center; } }
      @media only screen and (max-width: 50em) {
        .services__card--1 {
          grid-row: 1 / 2;
          grid-column: 1 / -1;
          height: auto;
          margin: 0; } }
    .services__card--2 {
      grid-row: 3 / 4;
      grid-column: 1 / 3; }
      @media only screen and (max-width: 86.5em) {
        .services__card--2 {
          grid-column: 3 / 5; } }
      @media only screen and (max-width: 66.3em) {
        .services__card--2 {
          grid-column: 2 / 5;
          justify-self: center; } }
      @media only screen and (max-width: 50em) {
        .services__card--2 {
          grid-row: 2 / 3;
          grid-column: 1 / -1;
          height: auto;
          display: none;
          margin: 1rem 0; } }
    .services__card--3 {
      grid-row: 4 / -1;
      grid-column: 1 / 3; }
      @media only screen and (max-width: 86.5em) {
        .services__card--3 {
          grid-column: 3 / 5; } }
      @media only screen and (max-width: 66.3em) {
        .services__card--3 {
          grid-column: 2 / 5;
          justify-self: center; } }
      @media only screen and (max-width: 50em) {
        .services__card--3 {
          grid-row: 3 / 4;
          grid-column: 1 / -1;
          height: auto;
          display: none;
          margin: 1rem 0; } }
    .services__card--4 {
      grid-row: 2 / 3;
      grid-column: 3 / 5; }
      @media only screen and (max-width: 86.5em) {
        .services__card--4 {
          grid-column: 6 / 9; } }
      @media only screen and (max-width: 66.3em) {
        .services__card--4 {
          grid-column: 5 / 9;
          justify-self: center; } }
      @media only screen and (max-width: 50em) {
        .services__card--4 {
          grid-row: 4 / 5;
          grid-column: 1 / -1;
          height: auto;
          margin: 0; } }
    .services__card--5 {
      grid-row: 3 / 4;
      grid-column: 3 / 5;
      margin-top: 4rem; }
      @media only screen and (max-width: 86.5em) {
        .services__card--5 {
          grid-column: 6 / 9; } }
      @media only screen and (max-width: 66.3em) {
        .services__card--5 {
          grid-column: 5 / 9;
          justify-self: center; } }
      @media only screen and (max-width: 50em) {
        .services__card--5 {
          grid-row: 5 / 6;
          grid-column: 1 / -1;
          display: none;
          height: auto;
          margin: 1rem 0; } }
    .services__card--6 {
      grid-row: 4 / -1;
      grid-column: 3 / 5;
      padding-bottom: 6rem; }
      @media only screen and (max-width: 86.5em) {
        .services__card--6 {
          grid-column: 6 / 9; } }
      @media only screen and (max-width: 66.3em) {
        .services__card--6 {
          grid-column: 5 / 9;
          justify-self: center; } }
      @media only screen and (max-width: 50em) {
        .services__card--6 {
          grid-row: 6 / 7;
          grid-column: 1 / -1;
          display: none;
          height: auto;
          margin: 0; } }
    .services__card--7 {
      grid-row: 2 / 3;
      grid-column: 5 / -1;
      padding-top: 18rem; }
      @media only screen and (max-width: 86.5em) {
        .services__card--7 {
          grid-column: 9 / 12; } }
      @media only screen and (max-width: 66.3em) {
        .services__card--7 {
          grid-column: 9 / 12;
          justify-self: center; } }
      @media only screen and (max-width: 50em) {
        .services__card--7 {
          grid-row: 7 / -1;
          grid-column: 1 / -1;
          height: auto;
          margin: 0;
          padding: 0; } }
    .services__card--titleXS {
      display: none; }
      @media only screen and (max-width: 50em) {
        .services__card--titleXS {
          display: block;
          color: #C0D6C9;
          font-size: 2.6rem;
          letter-spacing: .3rem;
          margin: 3rem 0; } }
    .services__card--image {
      width: 9rem;
      height: auto;
      padding-bottom: 2rem; }
      .services__card--image--4 {
        width: 8rem; }
      .services__card--image--6 {
        width: 10rem; }
    .services__card--title {
      font-size: 2rem;
      font-weight: 600;
      padding-bottom: 1rem;
      text-transform: capitalize;
      animation-name: fadein;
      animation-duration: .4s;
      animation-timing-function: ease-in;
      position: relative; }
      @media only screen and (max-width: 50em) {
        .services__card--title {
          font-size: 2.3rem; } }
      @media only screen and (max-width: 50em) {
        .services__card--title--1 {
          padding: 1rem 4rem;
          cursor: pointer;
          transition: all .3s ease-in-out;
          background: transparent;
          border: 2px solid rgba(92, 86, 78, 0.5);
          border-radius: 1rem;
          width: 40rem;
          text-align: center; } }
      @media only screen and (max-width: 50em) {
        .services__card--title--2 {
          padding: 1rem 4rem;
          cursor: pointer;
          transition: all .3s ease-in-out;
          background: transparent;
          border: 2px solid rgba(92, 86, 78, 0.5);
          border-radius: 1rem;
          width: 40rem;
          text-align: center; } }
      @media only screen and (max-width: 50em) {
        .services__card--title--3 {
          padding: 1rem 4rem;
          cursor: pointer;
          transition: all .3s ease-in-out;
          background: transparent;
          border: 2px solid rgba(92, 86, 78, 0.5);
          border-radius: 1rem;
          width: 40rem;
          text-align: center; } }
      .services__card--title--plus {
        display: none;
        font-size: 2rem;
        position: absolute;
        top: 12px;
        left: 8px;
        animation-name: fadein;
        animation-duration: .4s;
        animation-timing-function: ease-in; }
        @media only screen and (max-width: 50em) {
          .services__card--title--plus {
            display: inline-block; } }
      .services__card--title--minus {
        display: none;
        font-size: 2rem;
        position: absolute;
        top: 12px;
        left: 8px;
        animation-name: fadein;
        animation-duration: .4s;
        animation-timing-function: ease-in; }
        @media only screen and (max-width: 50em) {
          .services__card--title--minus {
            display: inline-block; } }
    .services__card--text {
      font-size: 1.6rem;
      width: 25rem; }
      @media only screen and (max-width: 50em) {
        .services__card--text {
          font-size: 1.8rem;
          width: 45rem; } }
      @media only screen and (max-width: 25.5em) {
        .services__card--text {
          font-size: 1.8rem;
          width: 40rem; } }
      @media only screen and (max-width: 50em) {
        .services__card--text--1 {
          display: none; } }
      .services__card--text--5 {
        width: 22.5rem; }
        @media only screen and (max-width: 50em) {
          .services__card--text--5 {
            width: 45rem; } }
        @media only screen and (max-width: 25.5em) {
          .services__card--text--5 {
            width: 40rem; } }
      .services__card--text--4 {
        width: 20.5rem; }
        @media only screen and (max-width: 50em) {
          .services__card--text--4 {
            width: 45rem;
            display: none; } }
        @media only screen and (max-width: 25.5em) {
          .services__card--text--4 {
            width: 40rem; } }
      .services__card--text--7 {
        width: 21.5rem; }
        @media only screen and (max-width: 50em) {
          .services__card--text--7 {
            width: 45rem;
            display: none; } }
        @media only screen and (max-width: 25.5em) {
          .services__card--text--7 {
            width: 40rem; } }

.active {
  display: block; }

.activeFlex {
  display: flex; }

.wrapper {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  animation-name: fadein;
  animation-duration: .4s;
  animation-timing-function: ease-in;
  z-index: 9999;
  padding-right: 0 !important; }

.fade {
  animation-name: fadeOut;
  animation-duration: .3s;
  animation-timing-function: ease-out;
  display: none; }

@media only screen and (max-width: 50em) {
  .serviceBtnBorder {
    border: none;
    border-radius: 0; } }

@media only screen and (max-width: 50em) {
  #briefMinus {
    display: none; } }

@media only screen and (max-width: 50em) {
  #startMinus {
    display: none; } }

@media only screen and (max-width: 50em) {
  #bespokeMinus {
    display: none; } }

.design {
  display: grid;
  grid-template-rows: 10rem 15rem max-content 15rem max-content;
  grid-template-columns: repeat(12, 1fr);
  /*  PROZORI */ }
  .design__title {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 100%;
    height: 10rem;
    background: #c1d4de;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 42em) {
      .design__title {
        background: transparent;
        border-top: none; } }
    .design__title--h1 {
      font-size: 3.5rem;
      font-weight: 600;
      color: #fff;
      text-transform: capitalize; }
      @media only screen and (max-width: 42em) {
        .design__title--h1 {
          color: rgba(128, 128, 128, 0.5); } }
  .design__info {
    margin: 8rem 0 5rem 0;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    width: 50%;
    font-size: 1.8rem;
    text-align: justify;
    align-self: center;
    justify-self: center;
    color: rgba(92, 86, 78, 0.5); }
    @media only screen and (max-width: 42em) {
      .design__info {
        width: 80%;
        margin: 0; } }
  .design__cards {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 200rem !important;
    margin: 5rem auto; }
  .design__card {
    width: 33rem;
    border: 2px solid #e4e4e4;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 2rem;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 42em) {
      .design__card {
        width: 40rem; } }
    @media only screen and (max-width: 25.5em) {
      .design__card {
        width: 35rem; } }
    .design__card:hover {
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .design__card--link {
      text-decoration: none; }
      .design__card--link:hover {
        text-decoration: none; }
    .design__card--img {
      width: 100%;
      padding: .5rem; }
    .design__card--title {
      background: #D3D3D3;
      margin: 0;
      padding: 1.6rem;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 600;
      text-align: center; }
  .design__break {
    height: .8rem;
    margin: 7rem 0;
    background: #e4e4e4;
    grid-row: 4 / 5;
    grid-column: 1 / -1; }
  .design__title2 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: .2rem;
    color: #a1c7db;
    text-align: center;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    align-self: center; }
  .design__populars {
    grid-row: 5 / -1;
    grid-column: 1 / -1;
    margin: 5rem 3rem 5rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 200rem !important;
    margin: 5rem auto; }
  .design__popular {
    width: 33rem;
    border: 2px solid #e4e4e4;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 2rem;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 42em) {
      .design__popular {
        width: 40rem; } }
    @media only screen and (max-width: 25.5em) {
      .design__popular {
        width: 35rem; } }
    .design__popular:hover {
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .design__popular--link {
      text-decoration: none; }
      .design__popular--link:hover {
        text-decoration: none; }
    .design__popular--img {
      width: 100%; }
    .design__popular--title {
      background: #D3D3D3;
      margin: 0;
      padding: 1.6rem;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 600;
      text-align: center; }
  .design__wrapper {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    animation-name: fadein;
    animation-duration: .4s;
    animation-timing-function: ease-in;
    z-index: 100; }
    .design__wrapper--close {
      position: absolute;
      font-size: 5rem;
      top: 5x;
      right: 5px;
      color: #fff;
      cursor: pointer; }
  .design__prozor {
    background: #fff;
    padding: 5rem;
    animation-name: fadein;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60rem;
    width: 75%;
    border-radius: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 100;
    overflow-y: auto;
    max-width: 130rem; }
    @media only screen and (max-width: 86.5em) {
      .design__prozor {
        width: 80%; } }
    @media only screen and (max-width: 66.3em) {
      .design__prozor {
        grid-template-rows: 1fr 1fr;
        height: 95vh;
        width: 50rem; } }
    @media only screen and (max-width: 42em) {
      .design__prozor {
        padding: 2rem;
        width: 65%; } }
    @media only screen and (max-width: 36em) {
      .design__prozor {
        width: 70%; } }
    @media only screen and (max-width: 30em) {
      .design__prozor {
        width: 75%; } }
    @media only screen and (max-width: 25.5em) {
      .design__prozor {
        width: 80%; } }
    @media only screen and (max-height: 570px) {
      .design__prozor {
        padding: 2rem 0; } }
    @media only screen and (max-height: 800px) {
      .design__prozor {
        padding: 1rem; } }
    @media only screen and (min-height: 1000px) and (max-width: 66.3em) {
      .design__prozor {
        height: 70vh; } }
    @media only screen and (min-height: 1000px) and (max-width: 42em) {
      .design__prozor {
        height: 80vh; } }
    @media only screen and (min-height: 1100px) and (max-width: 42em) {
      .design__prozor {
        height: 70vh; } }
    @media only screen and (min-height: 1200px) and (max-width: 42em) {
      .design__prozor {
        height: 60vh; } }
    @media only screen and (min-height: 700px) and (max-width: 30em) {
      .design__prozor {
        height: 90rem; } }
    @media only screen and (min-height: 750px) and (max-width: 30em) {
      .design__prozor {
        height: 75vh; } }
    @media only screen and (min-height: 850px) and (max-width: 30em) {
      .design__prozor {
        height: 70vh; } }
    @media only screen and (min-height: 950px) and (max-width: 30em) {
      .design__prozor {
        height: 65vh; } }
    .design__prozor--lijeva {
      grid-column: 1 / 2; }
      @media only screen and (max-width: 66.3em) {
        .design__prozor--lijeva {
          grid-row: 1 / 2;
          grid-column: 1 /-1; } }
    .design__prozor--desna {
      grid-column: 2 / -1;
      text-align: center; }
      @media only screen and (max-width: 66.3em) {
        .design__prozor--desna {
          grid-row: 2 / -1;
          grid-column: 1 /-1; } }
      @media only screen and (max-height: 570px) {
        .design__prozor--desna {
          padding: 2rem 0; } }
    .design__prozor--img {
      padding: 3rem;
      width: 100%;
      height: 50rem;
      border: 2px solid #e4e4e4;
      overflow: hidden;
      border-radius: 5rem; }
      @media only screen and (max-width: 66.3em) {
        .design__prozor--img {
          width: 100%;
          height: 40rem; } }
      @media only screen and (max-width: 25.5em) {
        .design__prozor--img {
          width: 100%;
          height: 30rem; } }
    .design__prozor--title {
      color: #808080;
      margin: 3rem 0; }
      @media only screen and (max-width: 66.3em) {
        .design__prozor--title {
          margin: 1.5rem 0;
          font-size: 2.2rem; } }
      @media only screen and (max-width: 30em) {
        .design__prozor--title {
          margin: 0 0 1.5rem 0; } }
    .design__prozor--price {
      color: #808080;
      font-size: 1.6rem; }
      @media only screen and (max-width: 66.3em) {
        .design__prozor--price {
          font-size: 1.5rem; } }
    .design__prozor--text {
      color: #808080;
      font-size: 1.6rem;
      text-align: justify;
      margin: 4rem 10rem; }
      @media only screen and (max-width: 80em) {
        .design__prozor--text {
          margin: 4rem 6rem; } }
      @media only screen and (max-width: 66.3em) {
        .design__prozor--text {
          font-size: 1.5rem;
          margin: 3rem 4rem; } }

.about {
  display: flex;
  flex-direction: column; }
  .about__title {
    width: 100%;
    height: 10rem;
    background: #c1d4de;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 42em) {
      .about__title {
        background: transparent;
        border-top: none; } }
    .about__title--h1 {
      font-size: 3.5rem;
      font-weight: 600;
      color: #fff;
      text-transform: capitalize; }
      @media only screen and (max-width: 42em) {
        .about__title--h1 {
          color: #dbc6d2; } }
    .about__title--span {
      display: none; }
      @media only screen and (max-width: 42em) {
        .about__title--span {
          display: inline-block; } }
  .about__text {
    margin: 8rem auto 5rem auto;
    width: 40%;
    font-size: 1.5rem;
    text-align: justify;
    color: rgba(92, 86, 78, 0.5); }
    @media only screen and (max-width: 86.5em) {
      .about__text {
        width: 60%; } }
    @media only screen and (max-width: 42em) {
      .about__text {
        width: 80%;
        margin: 0 auto; } }
    .about__text--expand {
      color: rgba(92, 86, 78, 0.9);
      cursor: pointer;
      display: none;
      text-decoration: none; }
      @media only screen and (max-width: 42em) {
        .about__text--expand {
          display: inline-block; } }
    @media only screen and (max-width: 42em) {
      .about__text--info {
        display: none; } }

.displayText {
  display: inline; }

.projects {
  margin-top: 5rem;
  height: max-content; }
  .projects__title {
    width: 100%;
    height: 10rem;
    background: #c1d4de;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 42em) {
      .projects__title {
        background: transparent;
        border-top: none; } }
    .projects__title--h1 {
      font-size: 3.5rem;
      font-weight: 600;
      color: #fff; }
      @media only screen and (max-width: 42em) {
        .projects__title--h1 {
          color: #C0D6C9; } }
    .projects__title--span {
      display: none; }
      @media only screen and (max-width: 42em) {
        .projects__title--span {
          display: inline-block; } }
  .projects__cards {
    width: 95%;
    max-width: 172rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5rem auto; }
    @media only screen and (max-width: 110em) {
      .projects__cards {
        width: 80%;
        max-width: 152rem !important; } }
    @media only screen and (max-width: 100em) {
      .projects__cards {
        width: 90%; } }
  .projects__card {
    width: 50rem;
    overflow: hidden;
    margin: 0 2rem 4rem 2rem; }
    @media only screen and (max-width: 110em) {
      .projects__card {
        width: 40rem; } }
    @media only screen and (max-width: 850px) {
      .projects__card {
        width: 48rem; } }
    @media only screen and (max-width: 25.5em) {
      .projects__card {
        width: 35rem; } }
    .projects__card--link {
      text-decoration: none; }
      .projects__card--link:hover {
        text-decoration: none; }
    .projects__card--img {
      width: 100%;
      border-radius: 1.5rem; }
      @media only screen and (max-width: 25.5em) {
        .projects__card--img {
          width: 35rem; } }
    .projects__card--title {
      margin: 0;
      color: #808080;
      margin: 1rem 0 0 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      text-align: justify; }
      @media only screen and (max-width: 42em) {
        .projects__card--title {
          display: none; } }

.info {
  height: auto;
  margin: 10rem 0; }
  .info__title {
    width: 100%;
    height: 10rem;
    background: #c1d4de;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 42em) {
      .info__title {
        background: transparent;
        border-top: none; } }
    .info__title--h1 {
      font-size: 3.5rem;
      font-weight: 600;
      color: #fff;
      text-transform: capitalize; }
      @media only screen and (max-width: 42em) {
        .info__title--h1 {
          color: rgba(92, 86, 78, 0.5); } }
    @media only screen and (max-width: 42em) {
      .info__title--span {
        display: none; } }
  .info__accordions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 5rem auto;
    max-width: 85%; }
  .info__accordion {
    display: flex;
    flex-direction: column; }
    .info__accordion--icon {
      width: 8rem;
      height: auto; }
    .info__accordion--btn {
      text-transform: uppercase;
      text-decoration: none;
      padding: .5rem .5rem;
      display: inline-block;
      font-size: 1.4rem;
      text-decoration: none;
      color: rgba(92, 86, 78, 0.5);
      font-weight: 600;
      letter-spacing: .2rem;
      cursor: pointer;
      transition: all .3s ease-in-out;
      background: transparent;
      border: 2px solid rgba(92, 86, 78, 0.5);
      border-radius: 1rem;
      width: 23rem;
      position: relative;
      z-index: 20;
      margin: 2rem 3rem 2rem 3rem; }
      .info__accordion--btn, .info__accordion--btn:link, .info__accordion--btn:visited {
        outline: none !important; }
      @media only screen and (max-width: 42em) {
        .info__accordion--btn--spanXL {
          display: none; } }
      .info__accordion--btn--spanXS {
        display: none; }
        @media only screen and (max-width: 42em) {
          .info__accordion--btn--spanXS {
            display: block; } }
      .info__accordion--btn-FAQ {
        display: none;
        animation-name: fadein;
        animation-duration: .4s;
        animation-timing-function: ease-in;
        width: 45rem;
        text-transform: none;
        font-size: 1.3rem;
        margin-bottom: 2rem;
        z-index: 20;
        background: #fff;
        margin: 0 0 2rem 0; }
        @media only screen and (max-width: 86.5em) {
          .info__accordion--btn-FAQ {
            width: 40rem; } }
      .info__accordion--btn:hover {
        color: rgba(92, 86, 78, 0.8); }
    .info__accordion--panel {
      display: block;
      color: rgba(92, 86, 78, 0.5);
      text-align: justify;
      width: 35rem;
      padding: 2rem;
      padding-top: 7rem;
      border: 2px solid rgba(92, 86, 78, 0.5);
      border-radius: 2rem;
      font-size: 1.3rem;
      font-weight: 600;
      animation-name: fadein;
      animation-duration: .4s;
      animation-timing-function: ease-in;
      overflow: hidden;
      background: #fff;
      z-index: 20; }
    .info__accordion--FAQS {
      height: auto;
      position: absolute;
      top: 15rem;
      left: -9.5rem;
      z-index: 20; }
      @media only screen and (max-width: 86.5em) {
        .info__accordion--FAQS {
          left: -6.5rem; } }
    .info__accordion--FAQ {
      color: rgba(92, 86, 78, 0.5);
      text-align: justify;
      width: 45rem;
      border: 2px solid rgba(92, 86, 78, 0.5);
      border-radius: 2rem;
      font-size: 1.3rem;
      font-weight: 600;
      background: #fff;
      margin-bottom: 1rem;
      padding: 0; }
      @media only screen and (max-width: 86.5em) {
        .info__accordion--FAQ {
          width: 40rem; } }
      .info__accordion--FAQ-text {
        padding: 2rem; }
    .info__accordion--plus {
      position: absolute;
      top: 8.3px;
      left: 3px; }
      @media only screen and (max-width: 25.5em) {
        .info__accordion--plus {
          top: 7px;
          left: 6px; } }
    .info__accordion--minus {
      position: absolute;
      top: 8.3px;
      left: 3px; }
      @media only screen and (max-width: 25.5em) {
        .info__accordion--minus {
          top: 7px;
          left: 6px; } }

.acc {
  display: flex;
  flex-direction: column;
  align-items: center; }

.acc--1 {
  position: relative; }

#panel--1 {
  position: absolute;
  top: 8rem;
  left: -3rem;
  display: none; }

.acc--2 {
  position: relative; }

#panel--2 {
  position: absolute;
  top: 8rem;
  left: -3rem;
  display: none; }

.acc--3 {
  position: relative; }

#panel--3 {
  position: absolute;
  top: 8rem;
  left: -3rem;
  display: none; }

.acc--4 {
  position: relative; }

/* #button--5 {
    position: absolute;
    top: 8rem;
    left: -11rem;
    width: 45rem;
    text-transform: none;
    font-size: 1.3rem;

}
#button--6 {
    position: absolute;
    top: 13rem;
    left: -11rem;
    width: 45rem;
    text-transform: none;
    font-size: 1.3rem;
}
#button--7 {
    position: absolute;
    top: 18rem;
    left: -11rem;
    width: 45rem;
    text-transform: none;
    font-size: 1.3rem;
}


#faq--1 {
    position: absolute;
    top: 12rem;
    left: -11rem;
}
#faq--2 {
    position: absolute;
    top: 15rem;
    left: -6rem;
}
#faq--3 {
    position: absolute;
    top: 20rem;
    left: -6rem;
} */
#minus--1 {
  display: none; }

#minus--2 {
  display: none; }

#minus--3 {
  display: none; }

.panelActive {
  display: block !important; }

.zInd--100 {
  z-index: 100; }

.zInd--150 {
  z-index: 150; }

.plusClass {
  display: none; }

.minusClass {
  display: inline-block !important; }

.noBorder {
  border: none; }

.contact {
  display: grid;
  grid-template-rows: 10rem 1fr;
  grid-template-columns: repeat(12, 1fr);
  height: 80rem; }
  @media only screen and (max-width: 50em) {
    .contact {
      height: 90rem; } }
  .contact__title {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 100%;
    height: 10rem;
    background: #c1d4de;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 42em) {
      .contact__title {
        background: transparent;
        border-top: none; } }
    .contact__title--h1 {
      font-size: 3.5rem;
      font-weight: 600;
      color: #fff;
      text-transform: capitalize; }
      @media only screen and (max-width: 42em) {
        .contact__title--h1 {
          color: rgba(92, 86, 78, 0.5); } }
  .contact__kontakt {
    grid-row: 2 / -1;
    grid-column: 4 / 10;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 4rem;
    border: 2px solid rgba(92, 86, 78, 0.5);
    border-radius: 2rem; }
    @media only screen and (max-width: 92.4em) {
      .contact__kontakt {
        grid-column: 3 / 11; } }
    @media only screen and (max-width: 61.75em) {
      .contact__kontakt {
        grid-column: 2 / 12; } }
    @media only screen and (max-width: 50em) {
      .contact__kontakt {
        grid-template-rows: 1fr 15rem; } }
    @media only screen and (max-width: 42em) {
      .contact__kontakt {
        grid-template-rows: 1fr 30rem; } }
  .contact__form {
    grid-column: 1 / 2;
    z-index: 1; }
    @media only screen and (max-width: 50em) {
      .contact__form {
        grid-column: 1 / -1;
        grid-row: 1 / 2; } }
    .contact__form--title {
      color: #5C564E;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .contact__form--text {
      color: rgba(92, 86, 78, 0.5);
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 2rem; }
    .contact__form--name {
      margin-bottom: 1rem;
      font-weight: 600;
      border-color: rgba(92, 86, 78, 0.5);
      border-radius: 5px;
      font-size: 1.3rem; }
      .contact__form--name::placeholder {
        color: rgba(92, 86, 78, 0.5); }
    .contact__form--email {
      margin-bottom: 1rem;
      font-weight: 600;
      border-radius: 5px;
      font-size: 1.3rem;
      border-color: rgba(92, 86, 78, 0.5); }
      .contact__form--email::placeholder {
        color: rgba(92, 86, 78, 0.5); }
    .contact__form--area {
      font-weight: 600;
      border-radius: 5px;
      border-color: rgba(92, 86, 78, 0.5);
      font-size: 1.3rem; }
      .contact__form--area::placeholder {
        color: rgba(92, 86, 78, 0.5); }
  .contact__social {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0 auto; }
    @media only screen and (max-width: 50em) {
      .contact__social {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 6rem 2rem 0 2rem; } }
    .contact__social--email {
      display: flex;
      flex-direction: column; }
      @media only screen and (max-width: 42em) {
        .contact__social--email {
          margin: 2rem 5rem; } }
      @media only screen and (max-width: 36em) {
        .contact__social--email {
          margin: 1rem 3rem; } }
      @media only screen and (max-width: 30em) {
        .contact__social--email {
          margin: 1rem 2.5rem; } }
      @media only screen and (max-width: 25.5em) {
        .contact__social--email {
          margin: 1rem 1rem; } }
    @media only screen and (max-width: 42em) {
      .contact__social--phone {
        margin: 2rem 5rem; } }
    @media only screen and (max-width: 36em) {
      .contact__social--phone {
        margin: 1rem 3rem; } }
    @media only screen and (max-width: 30em) {
      .contact__social--phone {
        margin: 1rem 2.5rem; } }
    @media only screen and (max-width: 25.5em) {
      .contact__social--phone {
        margin: 1rem 1rem; } }
    @media only screen and (max-width: 42em) {
      .contact__social--adress {
        margin: 2rem 5rem; } }
    @media only screen and (max-width: 36em) {
      .contact__social--adress {
        margin: 1rem 3rem; } }
    @media only screen and (max-width: 30em) {
      .contact__social--adress {
        margin: 1rem 2.5rem; } }
    @media only screen and (max-width: 25.5em) {
      .contact__social--adress {
        margin: 1rem 1rem; } }
    .contact__social--title {
      color: #5C564E;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .contact__social--text {
      color: rgba(92, 86, 78, 0.5);
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 2rem; }
    .contact__social--links {
      margin-top: 15rem; }
      @media only screen and (max-width: 50em) {
        .contact__social--links {
          margin-top: 0; } }
      @media only screen and (max-width: 42em) {
        .contact__social--links {
          margin: 2rem 5rem; } }
      @media only screen and (max-width: 36em) {
        .contact__social--links {
          margin: 1rem 3rem; } }
      @media only screen and (max-width: 30em) {
        .contact__social--links {
          margin: 1rem 2.5rem; } }
      @media only screen and (max-width: 25.5em) {
        .contact__social--links {
          margin: 1rem 1rem; } }
      .contact__social--links-icons {
        display: flex;
        justify-content: space-between;
        margin: 0 1rem; }
      .contact__social--links-pine {
        font-size: 2.8rem;
        color: #c8232c; }
      .contact__social--links-insta {
        font-size: 2.8rem;
        color: #833ab4; }

.enq {
  widows: 98vw;
  height: 97vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  border: 2px solid #5C564E;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .enq__lijeva {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    display: grid; }
  .enq__desna {
    grid-row: 1 / -1;
    grid-column: 2 / 3;
    display: grid; }
  .enq__form {
    padding: 5rem;
    margin: 2rem 2rem;
    align-self: center;
    justify-self: center; }
    .enq__form--title {
      color: #5C564E;
      font-weight: 600;
      font-size: 2.2rem;
      margin-bottom: 1rem;
      text-align: center; }
    .enq__form--text {
      color: #DDB9A8;
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 2rem;
      text-align: center; }
    .enq__form--lables {
      color: #5C564E;
      font-size: 1.3rem;
      font-weight: bold; }
    .enq__form--btn {
      color: #5C564E;
      font-size: 1.3rem;
      font-weight: bold; }
  .enq__board {
    padding: 5rem;
    margin-right: 1rem;
    align-self: center;
    background: #e4e4e4;
    border-radius: 1rem; }
    .enq__board--top {
      display: grid; }
    .enq__board--title {
      color: #fff;
      font-weight: bold;
      text-align: center;
      margin: 2rem 0 1rem 0; }
    .enq__board--price {
      color: #fff;
      font-size: 1.6rem;
      font-weight: bold;
      text-align: center;
      margin: 1rem 0; }
    .enq__board--img {
      width: 20rem;
      height: auto;
      border: 1px solid #5C564E;
      border-radius: 5px;
      overflow: hidden;
      justify-self: center;
      margin: 2rem 0; }
    .enq__board--title2 {
      color: #808080;
      font-weight: bold;
      text-align: left;
      margin: 2rem 0 1rem 3.5rem; }
    .enq__board--ul {
      color: #808080;
      font-size: 1.3rem;
      font-weight: bold;
      text-align: left; }
    .enq__board--info {
      color: #DDB9A8;
      font-size: 1.6rem;
      font-weight: 600;
      margin: 4rem 0; }

#submit-btn {
  text-align: right; }
