.about {

  display: flex;
  flex-direction: column;

    &__title {
     
        width: 100%;
        height: 10rem;
        background: $color-title;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;  
       

        @media only screen and (max-width:$bp-small) {
 
             background: transparent;
             border-top: none;          
            
          }  
        

        &--h1 {
            font-size: 3.5rem;
            font-weight: 600;
            color: $color-white;
            text-transform: capitalize;

            @media only screen and (max-width:$bp-small) {
               color: $color-homeowners;    
               
             }  
        }
        &--span {
          display: none;
          @media only screen and (max-width:$bp-small) {

              display: inline-block;
             
           }  
        }
  }



  &__text {
    margin: 8rem auto 5rem auto;
    width: 40%;
    font-size: 1.5rem;
    text-align: justify;
    color: rgba(92, 86, 78, .5);

    @media only screen and (max-width:$bp-wide-2) {
        width: 60%;  
        
      }  

    @media only screen and (max-width:$bp-small) {
        width: 80%; 
        margin: 0 auto;
      }  


      &--expand {
    
        color: rgba(92, 86, 78, .9);
        cursor: pointer;
        display: none;
        text-decoration: none;
        @media only screen and (max-width:$bp-small) {
          display: inline-block;
        }  
      }

      &--info {
        @media only screen and (max-width:$bp-small) {
          display: none;
        } 
      }
  }

}


.displayText {
  display: inline;
}