.dbgallery{
   margin:5rem;



  @media only screen and (max-width:$bp-small) {
    margin:5rem 2rem;
  } 

  @media only screen and (max-width:447px) {
    margin:5rem 1rem;
  } 

}

.grid-item {
    width: 300px;
    margin-bottom: 10px;

    @media only screen and (max-width:$bp-huge) {
        width: 250px;
      } 

      @media only screen and (max-width:$bp-wide-2) {
        width: 225px;
      } 

      @media only screen and (max-width:772px) {
        width: 300px;
      } 

      @media only screen and (max-width:699px) {
        width: 250px;
      } 

      @media only screen and (max-width:557px) {
        width: 200px;
      } 

      @media only screen and (max-width:447px) {
        width: 150px;
      } 


      img {
          width: 100%;
      }
}

.grid {
    margin: 0 auto;
  }


