.design {

    display: grid;
    grid-template-rows: 10rem 15rem max-content 15rem max-content;
    grid-template-columns: repeat(12, 1fr);

    
    &__title {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        width: 100%;
        height: 10rem;
        background: $color-title;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
       

        @media only screen and (max-width:$bp-small) {
 
             background: transparent;
             border-top: none;          
            
          }  
        

        &--h1 {
            font-size: 3.5rem;
            font-weight: 600;
            color: $color-white;
            text-transform: capitalize;

            @media only screen and (max-width:$bp-small) {
               color: rgba(128,128,128,.5);    
               
             }  
        }
    }

    &__info {
        margin: 8rem 0 5rem 0;
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        width: 50%;
        font-size: 1.8rem;
        text-align: justify;
        align-self: center;
        justify-self: center;
        color: rgba(92, 86, 78, .5);

        @media only screen and (max-width:$bp-small) {
            width: 80%; 
            margin: 0;
          }  
    }

    &__cards {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 200rem !important;
        margin: 5rem auto;
   
   
    }

    &__card {
        width: 33rem;
        border: 2px solid $color-grey-light;
        border-radius: 1rem;
        overflow: hidden;
        margin: 0 2rem;
        margin-bottom: 8rem;

        @media only screen and (max-width:$bp-small) {
            width: 40rem;
          } 
        @media only screen and (max-width:$bp-small-4) {
            width: 35rem;
          } 
        &:hover {
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        }

        &--link {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
        
    
        &--img {
            width: 100%;
            padding:.5rem;
        }

        &--title {
            background: $color-grey;
            margin: 0;
            padding: 1.6rem;
            color: $color-white;
            font-size: 1.4rem;
            font-weight: 600;
            text-align: center;
        }
    }

    &__break {
        height: .8rem;
        margin: 7rem 0;
        background: $color-grey-light;
        grid-row: 4 / 5;
        grid-column: 1 / -1;
    }

    &__title2 {
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: .2rem;
        color: $color-text-blue;
        text-align: center;
        grid-row: 4 / 5;
        grid-column: 1 / -1;
        align-self: center;
        
    }

    &__populars {
        grid-row: 5 / -1;
        grid-column: 1 / -1;
        margin: 5rem 3rem 5rem 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 200rem !important;
        margin: 5rem auto;


    }

    &__popular {
        width: 33rem;
        border: 2px solid $color-grey-light;
        border-radius: 1rem;
        overflow: hidden;
        margin: 0 2rem;
        margin-bottom: 8rem;
        @media only screen and (max-width:$bp-small) {
          width: 40rem;
        } 
        @media only screen and (max-width:$bp-small-4) {
            width: 35rem;
          } 

        &:hover {
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        }

        
        &--link {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
        
    
        &--img {
            width: 100%;
         
        }

        &--title {
            background: $color-grey;
            margin: 0;
            padding: 1.6rem;
            color: $color-white;
            font-size: 1.4rem;
            font-weight: 600;
            text-align: center;
        }
    }

  /*  PROZORI */

  &__wrapper {
    background: rgba(0,0,0,0.4);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
    animation-name: fadein;
    animation-duration: .4s;
    animation-timing-function: ease-in;
    z-index: 100;
    &--close {
        position: absolute;
        font-size: 5rem;
        top: 5x;
        right: 5px;
        color: $color-white;
        cursor: pointer;
   
    }
    
  }

        &__prozor {
            background: $color-white;
            padding: 5rem;
            animation-name: fadein;
            animation-duration: .4s;
            animation-timing-function: ease-out;
            position: absolute;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 60rem;
            width: 75%;
            border-radius: 5rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            z-index: 100;
            overflow-y: auto;
            max-width: 130rem;


            @media only screen and (max-width:$bp-wide-2) {
                width: 80%;
             }  

             @media only screen and (max-width:$bp-wide-4) {
              width: 90%;
             } 
             @media only screen and (max-width:$bp-wide-5) {
               grid-template-rows: 1fr 1fr;
               height: 95vh;
               width: 50rem;
             } 


             @media only screen and (max-width:$bp-small) {
                padding:2rem;
                width: 65%;
              } 
             @media only screen and (max-width:$bp-small-2) {
                width: 70%;
              } 
             @media only screen and (max-width:$bp-small-3) {
                width: 75%;
              } 
             @media only screen and (max-width:$bp-small-4) {
                width: 80%;
              } 

             @media only screen and (max-height:570px) {
                padding: 2rem 0;
         
              } 
             @media only screen and (max-height:800px) {
                padding: 1rem;
         
              } 
              @media only screen and (min-height:1000px) and (max-width:$bp-wide-5) {
                height: 70vh;
              }
              @media only screen and (min-height:1000px) and (max-width:$bp-small) {
                height: 80vh;
              }
              @media only screen and (min-height:1100px) and (max-width:$bp-small) {
                height: 70vh;
              }
              @media only screen and (min-height:1200px) and (max-width:$bp-small) {
                height: 60vh;
              }
              @media only screen and (min-height:700px) and (max-width:$bp-small-3) {
                height: 90rem;
              }
              @media only screen and (min-height:750px) and (max-width:$bp-small-3) {
                height: 75vh;
              }
              @media only screen and (min-height:850px) and (max-width:$bp-small-3) {
                height: 70vh;
              }
              @media only screen and (min-height:950px) and (max-width:$bp-small-3) {
                height: 65vh;
              }
    
       
  

            &--lijeva {
                grid-column: 1 / 2; 
                @media only screen and (max-width:$bp-wide-5) {
                    grid-row: 1 / 2;
                    grid-column: 1 /-1;
                  } 
            }

            &--desna {
                grid-column: 2 / -1;
                text-align: center;
                @media only screen and (max-width:$bp-wide-5) {
                    grid-row: 2 / -1;
                    grid-column: 1 /-1;
                  } 
                  @media only screen and (max-height:570px) {
                    padding: 2rem 0;
             
                  } 
            }


            &--img {
                padding:3rem;
                width: 100%;
                height: 50rem;
                border: 2px solid $color-grey-light;
                overflow: hidden;
                border-radius: 5rem;
                @media only screen and (max-width:$bp-wide-5) {
                    width: 100%;
                    height: 40rem;
                  } 
                @media only screen and (max-width:$bp-small-4) {
                    width: 100%;
                    height: 30rem;
                  } 

            
    
            }

            &--title {
                color: $color-text;
                margin: 3rem 0;
                @media only screen and (max-width:$bp-wide-5) {
                    margin: 1.5rem 0;
                    font-size: 2.2rem;
                   } 
                   
                  @media only screen and (max-width:$bp-small-3) {
                    margin:0 0 1.5rem 0;
    
                   } 
            }

            &--price {
                color: $color-text;
                font-size: 1.6rem;
                @media only screen and (max-width:$bp-wide-5) {
                  
                    font-size: 1.5rem;
                   } 
            }
            &--text {
                color: $color-text;
                font-size: 1.6rem;
                text-align: justify;
                margin: 4rem 10rem;

                @media only screen and (max-width:$bp-wide-3) {
                    margin: 4rem 6rem;
                 } 
                 @media only screen and (max-width:$bp-wide-5) {
                   font-size: 1.5rem;
                   margin: 3rem 4rem;
                  } 

            }


 


        }





}

