.home {
    
   height: calc(100vh - 12rem );
   margin-top: 15rem;

   @media only screen and (min-height:800px) {
    height: 75vh;
  }
   @media only screen and (max-width:$bp-wide-3) and (min-height:1000px) {
    height: 50vh;
  }
   

   @media only screen and (max-width:$bp-large) {
    display: none;
  }
    &__title {
        color: rgba(128,128,128,.5);
        text-align: center;
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: .2rem;
        
        @media only screen and (max-width:$bp-wide-3) {
            font-size: 3.4rem;
         }
    
    }

    &__images {
         margin-top: 4rem;
         height: 55rem;
         display: flex;
         justify-content: center;

    
         @media only screen and (max-width:$bp-wide-3) {
            height: 50rem;
         }
         @media only screen and (max-height:800px) {
            height: 42rem;
          }
         &--1 {
             width: 33.333%;   
          
         }
         &--2 {
             width: 33.333%;

         }
         &--3 {
             width: 33.333%;
         }
    }

    &__title2 {
        margin-top: 5rem;
        color: rgba(128,128,128,.5);
        text-align: center;
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: .2rem;
        @media only screen and (max-width:$bp-small) {
            display: none;
          }
    }


}



.homeslide {
 height: 100vh;
 width: 100vw;
 margin: 0;
 padding:0;


        &__title {
            color:$color-white;
            text-align: center;
            font-size: 3.4rem;
            font-weight: 600;
            letter-spacing: .2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
             margin-top: 30rem;
             padding-top: 2rem;

             @media only screen and (max-width:$bp-large) and (min-height:900px) {
                margin-top: 40rem;
              }
             @media only screen and (max-width:$bp-large) and (min-height:1000px) {
                margin-top: 50rem;
              }
             @media only screen and (max-width:$bp-small){
                margin-top: 20rem;
              }
    
        }
        &__span {
            color: $color-white;
            text-align: center;
            font-size: 3.4rem;
            font-weight: 600;
            letter-spacing: .2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }

        &__logo {
            width: 12rem;
            height: auto;
            margin: 2rem auto;
        }

    
         &__text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-self: center; 
            width: 35rem;  
            margin: 3rem auto;
            padding-bottom: 2rem;

                &--p {
                color: $color-white;
                font-size: 2.2rem;
                font-weight: 400;
                letter-spacing: .2rem;
            
            }
         } 
         
         &__info {
            text-align: justify;
            color: $color-white;
            margin: 2rem 8rem;
            font-size: 1.8rem;
            font-weight: 400;
            padding-bottom: 2rem;
         }
 
    &--1 {

    background:linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),url("/img/home/home1.png")right center/cover no-repeat;
 }
    &--2 {
        
        background:linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),url("/img/home/home3.png")center/cover no-repeat;
 }
    &--3 {
        
        background:linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),url("/img/home/home2.png")center/cover no-repeat;
 }
}


.carousel--home {
    display: none;
    @media only screen and (max-width:$bp-large) {
        display: block;

       }
}



.overlayCar {
    background: rgba(0,0,0,.4);
    
}