
.whatCardContainer {

    width: 95%;
    max-width: 202rem !important;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.whatCard {

  width: 63.3rem;
    margin:0 2rem 4rem 2rem;
    height: 35rem;
    background:linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.2)), url("/img/pageServices/servicesHome.png")center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 
    @media only screen and (max-width:2139px) {
      width: 55rem;
      height: 30rem;
      } 
    @media only screen and (max-width:1875px) {
      width: 50rem;
      height: 30rem;
      } 
    @media only screen and (max-width:$bp-huge) {
        width: 40rem;
      } 

      @media only screen and (max-width:$bp-wide-3) {
        width: 35rem;
      } 

      @media only screen and (max-width:1127px) {
        width: 30rem;
      } 

    @media only screen and (max-width:850px) {
        width: 48rem;
      } 

    @media only screen and (max-width:$bp-small-4) {
        width: 38rem;
        height:25rem;
      } 

    &__title {
        width: 100%;
        height: 6.6rem;
        background: rgba($color-title, .7);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &--h4 {
            font-size: 2rem;
            letter-spacing: .2px;
            font-weight: 700;
            color: $color-white;
            text-transform: capitalize;
  
            
        }
    }

    &__text {
        position: absolute;
        top: 100%;
        left:50%;
        transform: translateX(-50%);
        color: $color-text;
        font-size: 1.5rem;
        width: 50rem;
        opacity: 0;
        background: white;
        z-index: 10;
        padding:1rem 3rem;
       display: none;
       animation-name: fadein;
       animation-duration: .4s;
       animation-timing-function: ease-in; 
       overflow: hidden;

       @media only screen and (max-width:2139px) {
        width: 55rem;
    
        } 
      @media only screen and (max-width:1875px) {
        width: 50rem;
  
        } 
      @media only screen and (max-width:$bp-huge) {
          width: 40rem;
        } 
  
      @media only screen and (max-width:850px) {
          width: 48rem;
        } 
  
      @media only screen and (max-width:$bp-small-4) {
          width: 38rem;
        } 
    }
}


.showTextWhat {
  opacity: 1;
  display: block;
  
}